{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

    {% block body %}
        <h1>Objects index</h1>
        <div class="row">
        <a href="/show"><button class="btn btn-primary">Acceder à vos objets</button></a>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="/" method="POST">
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Rechercher nom/categories</button>
      </form>
  </div>
      <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% if objects is defined %}
            {% for object in objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.Type }}</td>
                    <td>{{ object.Name }}</td>
                    <td>
                        <a href="/take/{{object.id}}"><button class="btn btn-primary">Prendre cet objet</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            {% endif %}
            {% if Type is defined %}
            {% for object in Type %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.Type }}</td>
                    <td>{{ object.Name }}</td>
                    <td>
                        <a href="/take/{{object.id}}"><button class="btn btn-primary">Prendre cet objet</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
